TUText Bitmap "Resources\\TUText.bmp"
TUButton Bitmap "Resources\\TUButton.bmp"
TUCaptionBar Bitmap "Resources\\TUCaptionBar.bmp"
TUCheckBox Bitmap "Resources\\TUCheckBox.bmp"
TUEdit Bitmap "Resources\\TUEdit.bmp"
TUHyperLink Bitmap "Resources\\TUHyperLink.bmp"
TUPanel Bitmap "Resources\\TUPanel.bmp"
TUQuickButton Bitmap "Resources\\TUQuickButton.bmp"
TURadioButton Bitmap "Resources\\TURadioButton.bmp"
TUSeparator Bitmap "Resources\\TUSeparator.bmp"
TUSlider Bitmap "Resources\\TUSlider.bmp"
TUThemeManager Bitmap "Resources\\TUThemeManager.bmp"
TUTitleBar Bitmap "Resources\\TUTitleBar.bmp"
TUItemButton Bitmap "Resources\\TUItemButton.bmp"
TUProgressBar Bitmap "Resources\\TUProgressBar.bmp"
TUShadow Bitmap "Resources\\TUShadow.bmp"
